<header class="header">
    <a href="/" class="header__logo">
        LOGO
    </a>

    <div class="menu__button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <nav class="nav__links">
        <ul class="nav__list">
            <li class="nav__link"><a href="/">Home</a></li>
            <li class="nav__link"><a href="/about">About</a></li>
            <li class="nav__link"><a href="/submit-recipe">Submit</a></li>
            <li class="nav__link"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="search-bar">
        <form method="POST" action="/search">
            <input type="search" name="searchTerm" class="search-form" placeholder="Search..." aria-label="Search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>