<!-- <h1 class="title category__title">About</h1>

<nav aria-label="breadcrumbs" class="category__nav">
    <ol class="breadcrumbs">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/about">About</a></li>
    </ol>
</nav> -->

<section class="about__section">
    <div class="about__container">
        <h1 id="about-reveal-title">Hi I'm Callum, <br>Welcome to <span>BiteByBite</span></h1>

        <p><span>BiteByBite</span> is a recipe website I developed to tackle a problem I often face: deciding <span>what to cook!</span> This platform lets
        me upload my <span>favorite</span> recipes and easily <span>share</span> them with friends and family, encouraging them to add their own recipes
        for me to try. It’s also a <span>showcase</span> of my current <span>skills</span> and <span>knowledge</span>, built using a range of development technologies.
        I see this project as an ongoing journey that will evolve as I continue growing as a <span>software developer</span>—it’s definitely
        not the final version.</p>

        <p>If you are reading this, I encourage you to add a recipe to the database using the link to the <span>'Submit
                Recipe'</span> page below.</p>
    </div>
</section>


<!-- SUBMIT -->

<section class="submit__container">
    <img src="/img/publish-recipe.png" alt="Publish your recipe for FREE today" loading="lazy">
    <div class="section__content">
        <h1 class="submit__title title">Publish your recipe for FREE today</h1>
        <p>Publish your recipe for others to see.</p>

        <a href="/submit-recipe" class="btn recipe__submit__btn">Submit Recipe</a>
    </div>
</section>

<!-- END SUBMIT -->