<h1 class="category__title page__title title">Categories</h1>

<nav aria-label="breadcrumbs" class="category__nav">
    <ol class="breadcrumbs">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
    </ol>
</nav>

<div class="category__container">
<% if (typeof categories !== 'undefined' && categories.length > 0) { %>
    <% categories.forEach((category, index)=> { %>
        <a href="/categories/<%- category.name %>" class="category__link">
            <div class="category__image">
                <img src="/img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
            </div>
            <h2>
                <%- category.name %>
            </h2>
        </a>
        <% }) %>
    <% } %>
</div>

