<div class="submit__page__title">
    <h1 class="title">Submit Your Recipe</h1>
    <p>Share your recipes with friends and family! Fill in the form to get started.</p>
</div>



<div class="submit__form">

        <% if(infoSubmitObj != '') { %>
            <div class="alert__message-success">
                <%= infoSubmitObj %>
            </div>
        <% } %>
        
        <% if(infoErrorsObj !='' ) { %>
        <div class="alert__message-error">
            <%= infoErrorsObj[0].message %>
        </div>
        <% } %>

    <form action="/submit-recipe" id="submit-form" enctype="multipart/form-data" method="POST">

        <div class="form-item-div">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-input">
        </div>

        <div class="form-item-div">
            <label for="name" class="form-label">Recipe Name</label>
            <input type="text" name="name" id="name" class="form-input" required>
        </div>

        <div class="form-item-div">
            <label for="description" class="form-label">Description</label>
            <textarea class="" name="description" id="description" cols="30" rows="4" class="form-input" required></textarea>
        </div>

        <div class="form-item-div">
            <label for="ingredients" class="form-label">Ingredients</label>
            <small>Example: Ice</small>

            <div class="ingredientList">
                <div class="ingredientDiv">
                    <input type="text" name="ingredients" class="form-input" required>
                </div>
            </div>
        </div>

        <div>
            <button type="button" class="btn ingredient__btn" id="addIngredientsBtn">+ Ingredient</button>
        </div>

        <div class="form-item-div">
            <label for="category" class="form-label">Select</label>
            <select name="category" id="" required>
                <option selected value="">Select Category</option>
                <option value="Thai">Thai</option>
                <option value="American">American</option>
                <option value="Mexican">Mexican</option>
                <option value="Spanish">Spanish</option>
                <option value="Chinese">Chinese</option>
                <option value="Indian">Indian</option>
                <option value="British">British</option>
            </select>
        </div>

        <div class="form-item-div">
            <label for="image" class="form-label">Recipe Image</label>
            <input type="file" class="" name="image" accept="image/*" class="form-input" required>
        </div>

        <div>
            <button id="form-submit-btn" type="submit" class="btn submit__btn">Submit Recipe</button>
        </div>

    </form>

</div>